<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Volunteer Finder {{title}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>


<body>

    <div id="nav_bar">
        <a class="nav_elem" id="nav_logo" href="/">
            <img class="logo" src="/public/images/VF.jpg" alt="VF_logo">
            <div class="logotext">VolunteerFinder</div>
        </a>
        <a class="nav_elem" id="nav_profile" href="/account">Account Profile</a>
        <a class="nav_elem" id="nav_search" href="/search">Organization Search</a>
        <a class="nav_elem" id="nav_admin" href="/organizations">Organization Admin</a>
        <div class="nav_elem" id="nav_account">
            <button class="dropbtn" id="accountNameNav">New Account</button>
            <div id="dropdown-content">
                <a href="/login">Log in</a>
                <a href="/register">Register</a>
            </div>
        </div>
    </div>

    <div id="pageContent">
    {{{body}}}
    </div>

    {{> (lookup . 'script_partial') }}
    <script src="/public/js/nav_bar.js"></script>
</body>

</html>