{{!-- Description --}}
<p>Are you sure you want to delete your account/organization? This action is permanent and cannot be undone. All related data will be lost. Please confirm if you wish to proceed</p>


<button>Delete</button>
<button>Cancel</button>