{{!-- Description --}}
<div class="centered">
<p class="important">Are you sure you want to delete your account?</p>
<p>This action is permanent and cannot be undone.
  <br>All related data will be lost.</p>
<p class="important">Please confirm if you wish to proceed</p>
</div>
<br>
<form method="post" action="/api/users/?_method=DELETE">
  <button class="important">Delete</button>
  <a href="/"><button type="button">Cancel</button></a>
</form>