<form id="registrationForm" method="post" action="/api/users/">
  <div id="textInputs">
    <label>
      Comment
      <input required type="text" name="comment">
    </label>
    <button>Post</button>
    <a href="/organizations/:id"></a>
  </div>
</form>