<div class="centered">
    <p>{{#if wasAccount}}Account{{else}}Organization{{/if}} successfully deleted.</p>
    <br>
    {{#if wasAccount}}
    <a href="/"><button>Return Home</button></a>
    {{else}}
    <a href="/orgAdmin" class="button">Return to Organization Admin</a>
    {{/if}}
</div>