
<form id="">
  <label>
    First Name
    <input required type="" name="firstName">
  </label>

  <label>
    Last Name
    <input required type="" name="lastName">
  </label>

  <label>
    Password
    <input id="password" required type="password" name="password">
  </label>

  <button>Login</button>

  <a href="/register">Register Account</a>
</form>

