<div class="centered">
  <form "loginForm" method="post">
    <div id="textInputs" class="centered">
      <label for="">Email 
        <input type="" name="" id="">
      </label>
      <label for="">Password
        <input type="" name="" id="">
      </label>
    </div>
    <button>Login</button>
  </form>
  <p>Don't have an account?</p>
  <a href="/register"><button>Register</button></a>
</div>

