<a href="/">Home page</a>

<form id="">
  <label for="">Email</label>
  <input type="" name="" id="">
  <label for="">Password</label>
  <input type="" name="" id="">
  <button>Login</button>
</form>

