<div class="centered">
  <form id="loginForm" method="post" action="/api/users/login">
    <div class="centered textInputs">
      <label for="email">Email 
        <input name="email" id="email">
      </label>
      <label for="password">Password
        <input type="password" name="password" id="password">
      </label>
    </div>
    <button>Login</button>
  </form>

  <p>Don't have an account? <a href="/register" class="button">Register</a></p>
</div>

{{#if error}}
<div id="errorDiv" class="errors centered">
  <p id="errorMessage">{{error}}</p>
</div>
{{else}}
<div id="errorDiv" class="errors centered" hidden>
  <p id="errorMessage"></p>
</div>
{{/if}}

