<div class="centered">
  <form id="loginForm" method="post" action="/api/users/login">
    <div id="textInputs" class="centered">
      <label for="email">Email 
        <input name="email">
      </label>
      <label for="password">Password
        <input type="password" name="password">
      </label>
    </div>
    <button>Login</button>
  </form>

  <p>Don't have an account? <a href="/register"><button>Register</button></a></p>
</div>

<div id="errorDiv" class="errors centered" hidden>
  <p id="errorMessage"></p>
</div>

