{{!-- Description --}}
<p>Are you sure you want to delete your organization? This action is permanent and cannot be undone. All related data
  will be
  lost. Please confirm if you wish to proceed</p>

<form method="post" action="/api/organizations/{{organization.o_id}}?_method=DELETE">
  <button>Delete</button>
  <a href="/organization/{{organization.o_id}}"><button type="button">Cancel</button></a>
</form>