<form id="registrationForm">
  <div id="textInputs">
    <label>
      First Name
      <input required type="" name="firstName">
    </label>

    <label>
      Last Name
      <input required type="" name="lastName">
    </label>

    <label>
      Password
      <input id="password" required type="password" name="password">
    </label>

    <label>
      Confirm Password
      <input id="confirmPassword" required type="password">
    </label>

    <label>
      Email
      <input required type="email" name="email">
    </label>

    <label>
      Phone Number
      <input required type="tel" name="phoneNumber">
    </label>
  </div>


  <div id="tagSelection">
    <h2>Select Tags:</h2>
    <label>
      <input type="checkbox" name="Afterschool Programs">
      Afterschool Programs
    </label>

    <label>
      <input type="checkbox" name="Assisting People with Disabilities">
      Assisting People with Disabilities
    </label>

    <label>
      <input type="checkbox" name="Blood Donation Drives">
      Blood Donation Drives
    </label>

    <label>
      <input type="checkbox" name="Clothing Drives">
      Clothing Drives
    </label>
  </div>


  <div>
    <input id="addTagInput">
    <button type="button" id="addTagButton">Add Tag</button>
  </div>

  <button>Register</button>
</form>