
<form id="">
  <label for="">Email</label>
  <input type="" name="" id="">
  <label for="">Password</label>
  <input type="" name="" id="">
  <label for="">Confirm Password</label>
  <input type="" name="" id="">
  <button>Register</button>
</form>
