/* color palette */
:root {
    --bg1-color: white;
    --txt-color: black;
    --txtalt-color: white;
    --bnnr-color: olivedrab;
    --bnnr-hover: darkolivegreen;
    --bnnr-curr: green;
    --shdw-color: black;
    --mnu-color: aliceblue;
    --mnu-hover: lightgray;
    --btn-color: gray;
}

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bg1-color);
    color: var(--txt-color);
}

/* nav bar */
div#nav_bar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bnnr-color);
    top: 0;
    width: 100%;
}

a.nav_elem {
    display: block;
    color: var(--txtalt-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

#nav_logo{
    padding-left: 14px 16px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

#nav_logo .logo {
    float: left;
    object-fit: cover;
    height: 45px;
    width: auto;
}

#nav_logo .logotext {
    padding: 14px 16px;
    display: inline-block;
}



/* nav bar dropdown menu */
div#nav_account {
    float: right;
    overflow: hidden;
    min-width: fit-content;
    width: 10%; 
    height: 100%;
}

div#nav_account .dropbtn {
    border: none;
    outline: none;
    color: var(--txtalt-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--mnu-color);
    width: fit-content;
    box-shadow: 0px 8px 16px 0px var(--shdw-color);
    z-index: 1;
}

#dropdown-content a {
    float: none;
    color: var(--txt-color);
    padding: 12px 18px;
    display: block;
    text-align: left;
}

#dropdown-content a:hover {
    background-color: var(--mnu-hover);
}

div#nav_account:hover #dropdown-content {
    display: block;
}

/* nav bar active tab */
a.nav_active {
    background-color: var(--bnnr-curr);
}

.nav_elem:hover,
.nav_active:hover {
    background-color: var(--bnnr-hover);
}

/* page content */
#pageContent {
    margin: 10px;
    padding: 10px;
}

h1 {
    font-weight: bold;
}

/* forms */
form {
    border: solid var(--btn-color);
    border-radius: 10px;
    padding: 10px;
    vertical-align: auto;
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

form button {
    border: solid 2px var(--btn-color);
    border-radius: 4px;
}

form button:hover {
    color: var(--txtalt-color);
    background-color: var(--bnnr-color);
}

form div#textInputs {
    vertical-align: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form div#textInputs label{
    text-align: right;

}

form div#textInputs label input {
    align-self: left;
    margin-left: 10px;
    padding-left: 5px;
}